* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5em;
  color: rgb(0, 0, 0);
}
.container {
  width: 90%;
  margin: 0 auto;
}

.main-nav input {
  display: none;
}
.main-nav label {
  display: none;
}

.hamburger-menu {
  font-size: 24px;
  font-weight: 100;
  cursor: pointer;
  color: white;
}

nav {
  position: fixed;
  z-index: 200;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.0125em;
  line-break: auto;
  line-height: 1.27em;
  font-size: 12px;
  font-weight: 600;
}

.main-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
  height: 70px;
}

.logo {
  justify-self: center;
  align-self: center;
  cursor: pointer;
  grid-column: 2/3;
}

.nav-actions {
  display: flex;
  align-items: center;
  justify-self: end;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-actions > * {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}

.subscribeBtn {
  background-color: #0787ca;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px 24px;
}

.secondary-nav {
  background-color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0;
  border-bottom: 2px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;
}

.secondary-nav a {
  text-decoration: none;
  color: black;
  margin-left: 12px;
}

a:hover {
  text-decoration: underline;
}

/* -------- */

header {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
header .textSectionWrapper {
  padding-top: 130px;
}
.textSectionWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.sectionImg,
.sectionText {
  flex: 1 1 50%;
  max-width: 50%;
  overflow: hidden;
}
.sectionImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionImg img {
  width: 100%;
  height: auto;
  object-fit: cover;

  transform: scale(1.06);
}

.sectionText {
  max-width: 30rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25rem;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: normal;
  margin-bottom: 10rem;
}

.sectionText h3 {
  font-size: 2.25rem;
  font-weight: 100;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.sectionText a {
  color: white;
  text-decoration: none;
}

.sectionText h3:hover {
  text-decoration: underline;
}

.listenBtn {
  margin-top: 20px;
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 3em;
  border: 1px solid #424242;
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listenBtn img {
  margin-right: 0.7rem;
}

/* -------- */

.articleSectionWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Poravnanje artikala s lijeve strane */
}
.sectionPadding {
  margin-top: 50px;
  padding-top: 10px;
  border-top: 2px solid #e5e5e5;
}
h2 {
  font-size: 32px;
  line-height: 1.14286em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 55px;
}
.article h3 {
  font-weight: 500;
  margin-bottom: 5px;
}
.article p {
  color: rgb(146, 146, 146);
}
.article .author-signature {
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 0.9em;
}
.article {
  width: 23%;
}
.article img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media (max-width: 1023px) {
  .main-nav label {
    display: block;
    margin-left: 30px;
    cursor: pointer;
  }

  .nav-actions,
  .secondary-nav {
    display: none;
  }

  .main-nav input:checked ~ .nav-actions {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0;
    padding: 20px;
    gap: 20px;
    z-index: 1000;
  }
  .articleSectionWrapper {
    flex-wrap: wrap;
  }

  .article {
    width: 48%;
    margin-bottom: 20px;
  }
  .sectionText h3 {
    font-size: 28px;
    font-weight: 100;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  .sectionText {
    margin-bottom: 0;
    font-size: 17px;
    margin-left: 20px;
  }

  .sectionImg img {
    width: 120%;
    object-position: -30px;
  }
}

@media (max-width: 768px) {
  .article {
    width: 100%;
  }
  .textSectionWrapper {
    flex-direction: column;
    align-items: center;
  }

  .sectionImg img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .sectionImg {
    order: 2;
    width: 100%;
    max-width: 100%;
    margin-top: 4rem;
  }
  .sectionText {
    order: 0;
    width: 100%;
    margin-left: 0;
    max-width: 100%;
    font-size: 16px;
  }
  header {
    height: auto;
  }
}
